.MaterialCard {
  margin: 15px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: var(--bs-grey802);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
  height: max-content;
}
